<div>
    <div>
        <div>leftNavBar</div>
        <div>rightNavBar</div>
    </div>
    <div>
        <div>leftHeader</div>
        <div>rightHeader</div>
    </div>
    <div class="body">
        <div nz-row [nzGutter]="{xs: 8, sm: 16,md: 24, lg: 32}">
            <div nz-col class="gutter-row" [nzSpan]="8">card1</div>
            <div nz-col class="gutter-row" [nzSpan]="8">card2</div>
            <div nz-col class="gutter-row" [nzSpan]="8">card3</div>
            <div nz-col class="gutter-row" [nzSpan]="8">card4</div>
            <div nz-col class="gutter-row" [nzSpan]="8">card5</div>
            <div nz-col class="gutter-row" [nzSpan]="8">card6</div>
            <div nz-col class="gutter-row" [nzSpan]="8">card7</div>
            <div nz-col class="gutter-row" [nzSpan]="8">card8</div>
            <div nz-col class="gutter-row" [nzSpan]="8">card9</div>
        </div>
    </div>
</div>